<% for(var i = 0;i<JSON.stringify(data).length;i++){ %>
<div class="container">
    <div class="row">
        <div class="flight-logo">
            <div class="col-md-4">
                <img class="img-responsive" src="<%= logo %>" height="150px" width="150px">
            </div>
            <div class="col-md-2">
                <h2><%= data[i].RowDataPacket %></h2>
            </div>
        </div>
    </div>
</div>
<% } %>