<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="/css/style.css">
<script src="/js/select.js"></script>

<ol>
<li>To run the app, type the following command in your command prompt/terminal.git clone
https://www.github.com/sajalarora11/flingo-full-stack.git
(or) Donwload clone the above link to download.</li> <li>Now Open your command prompt/terminal and type the following cammand... npm install node app</li><li>Once done, open your browser and type in the following link... http://localhost:8000/ 4. Now you are good to go.</li>
</ol>